@mixin display-flex($justify-content, $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}
@mixin slider($margin, $padding) {
    .mr-15 {
        margin: 0 $margin;
    }
    .slick-slide {
        padding: $padding;
    }
}
@mixin list_icon($align, $margin, $width, $height) {
    ul {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        text-align: $align;
        li {
            display: inline-block;
            margin-right: $margin;
            width: $width;
            height: $height;
            a {
                @include default_link(15px, #fff);
            }
        }
    }
}
@mixin list($margin, $width, $height) {
    ul {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        li {
            a {
                @include default_link(15px, #fff);
            }
        }
    }
}
@mixin default_link($font-size, $color) {
    font-size: $font-size;
    color: $color;
    transition: all .5s ease;
}
@mixin default_link_hover($color) {
    color: $color;
    text-decoration: none;
}
@mixin default_button($font-size, $color) {
    background-color: $color;
    transition: all .5s ease;
}
@mixin default_button_hover($color) {
    background-color: $color;
    text-decoration: none;
}
@mixin border($color) {
    border: 1px solid $color;
}
@mixin title($font-size) {
    font-family: $font-family;
    font-size: $font-size;
}
@mixin banner($padding, $repeat, $position, $size) {
    padding: $padding;
    background-repeat: $repeat;
    background-position: $position;
    background-size: $size;
}
@mixin breakpoint($point) {
    @if $point == desktop {
        @media (min-width: 1024px) and (max-width: 1365px) {
            @content;
        }
    } @else if $point == laptop {
        @media (min-width: 991px) and (max-width: 1023px) {
            @content;
        }
    } @else if $point == default {
        @media (max-width: 991px) {
            @content;
        }
    } @else if $point == tablet {
        @media (min-width: 768px) and (max-width: 990px) {
            @content;
        }
    } @else if $point == phablet {
        @media (min-width: 480px) and (max-width: 767px) {
            @content;
        }
    } @else if $point == mobileonly {
        @media (max-width: 480px) {
            @content;
        }
    }
}
$font-family: 'Roboto', sans-serif;
$color-default: #bae2ff;